name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: 'Type: Argument Mismatch 1'
      id: type-argument-mismatch-1
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: 'Type: Argument Mismatch 1'
        setup-command: ''
        command: javac -cp utilities/antlr-4.13.1-complete.jar -d out $(find src gen
          -name "*.java") && java -cp out:utilities/antlr-4.13.1-complete.jar SimpleLang
          "tests/type/ArgumentMismatch-1.c" | sort -t':' -k1.6n -k2
        input: ''
        expected-output: |-
          Line:7 -> argument type mismatch
          Line:14 -> argument type mismatch
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: 'Type: Argument Mismatch 2'
      id: type-argument-mismatch-2
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: 'Type: Argument Mismatch 2'
        setup-command: ''
        command: javac -cp utilities/antlr-4.13.1-complete.jar -d out $(find src gen
          -name "*.java") && java -cp out:utilities/antlr-4.13.1-complete.jar SimpleLang
          "tests/type/ArgumentMismatch-2.c" | sort -t':' -k1.6n -k2
        input: ''
        expected-output: Line:12 -> argument type mismatch
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: 'Type: Expression Not Matching Types 1'
      id: type-expression-not-matching-types-1
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: 'Type: Expression Not Matching Types 1'
        setup-command: ''
        command: javac -cp utilities/antlr-4.13.1-complete.jar -d out $(find src gen
          -name "*.java") && java -cp out:utilities/antlr-4.13.1-complete.jar SimpleLang
          "tests/type/ExpressionNotMatchingTypes-1.c" | sort -t':' -k1.6n -k2
        input: ''
        expected-output: Line:3 -> type mismatch in expression
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: 'Type: Expression Not Matching Types 2'
      id: type-expression-not-matching-types-2
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: 'Type: Expression Not Matching Types 2'
        setup-command: ''
        command: javac -cp utilities/antlr-4.13.1-complete.jar -d out $(find src gen
          -name "*.java") && java -cp out:utilities/antlr-4.13.1-complete.jar SimpleLang
          "tests/type/ExpressionNotMatchingTypes-2.c" | sort -t':' -k1.6n -k2
        input: ''
        expected-output: Line:4 -> type mismatch in expression
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: 'Type: Unmatched Return Type 1'
      id: type-unmatched-return-type-1
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: 'Type: Unmatched Return Type 1'
        setup-command: ''
        command: javac -cp utilities/antlr-4.13.1-complete.jar -d out $(find src gen
          -name "*.java") && java -cp out:utilities/antlr-4.13.1-complete.jar SimpleLang
          "tests/type/UnmatchedReturnType-1.c" | sort -t':' -k1.6n -k2
        input: ''
        expected-output: Line:6 -> return type mismatch
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: 'Type: Unmatched Return Type 2'
      id: type-unmatched-return-type-2
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: 'Type: Unmatched Return Type 2'
        setup-command: ''
        command: javac -cp utilities/antlr-4.13.1-complete.jar -d out $(find src gen
          -name "*.java") && java -cp out:utilities/antlr-4.13.1-complete.jar SimpleLang
          "tests/type/UnmatchedReturnType-2.c" | sort -t':' -k1.6n -k2
        input: ''
        expected-output: Line:2 -> return type mismatch
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TYPE-ARGUMENT-MISMATCH-1_RESULTS: "${{steps.type-argument-mismatch-1.outputs.result}}"
        TYPE-ARGUMENT-MISMATCH-2_RESULTS: "${{steps.type-argument-mismatch-2.outputs.result}}"
        TYPE-EXPRESSION-NOT-MATCHING-TYPES-1_RESULTS: "${{steps.type-expression-not-matching-types-1.outputs.result}}"
        TYPE-EXPRESSION-NOT-MATCHING-TYPES-2_RESULTS: "${{steps.type-expression-not-matching-types-2.outputs.result}}"
        TYPE-UNMATCHED-RETURN-TYPE-1_RESULTS: "${{steps.type-unmatched-return-type-1.outputs.result}}"
        TYPE-UNMATCHED-RETURN-TYPE-2_RESULTS: "${{steps.type-unmatched-return-type-2.outputs.result}}"
      with:
        runners: type-argument-mismatch-1,type-argument-mismatch-2,type-expression-not-matching-types-1,type-expression-not-matching-types-2,type-unmatched-return-type-1,type-unmatched-return-type-2
